body{
    text-align: center !important;
    background: rgb(0, 119, 255) !important;
}
.img-fluid{
    height:800px !important;
    width:1000px;
}
#b{
    background-color:yellow;
    color:black;
}
#cartao{
    display:block;
    margin-right:auto;
    margin-left:auto;
}
#cartao img{
    width:300px;
}